/* main.css */

html, body, h1, h2, h3, h4, p, div {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url("images/girly-stars-pink-header.jpg");
    
    /*Margin bottom by footer height */

    margin-bottom: 280px; 
    
}

h2 {
	font-size: 20px;
	text-align: center;
	background-color: #FFB8D6;
}

 .about-paragraph p {
 	font-size: 30px;
	text-align: center;
	padding: 15px 0px 15px 0px;
	color: #337ab7;

}

 .about-paragraph span {
 	text-align: center;
 }



.dropdown {
    display: inline-block;
}

.dropdown img {
	height: 90px;
	width: auto;
	top: 8px;
	position: top;
	padding-top: 0px;
	padding-left: 15px;


	
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
    left: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.home-links {
	padding-top: 50px;
}

.hacker p { 

	padding-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	font-size: 25px;
		
}

.hacker img {
	padding-top: 20px;
	padding-bottom: 20px; 
}


.header-main p {
	text-align: center;
	height: 100%;
	background-color: #FFB8D6;
	padding-right: 15px; 
	padding-left: 15px;
	padding-bottom: 20px;
	position: top;

}

.header-main img {
	height: 210px;
	width: auto;
	padding-left: 20px;

}

ul {

	list-style-type: none;
	text-align: center;
	
}

ul drop-1 {
	list-style-type: block;
}

li {
	display: inline;

}


label {
	display: block;
	
}

textarea {
	float: left;

}

h1 {
	font-weight: bold;
	text-align: left;
	margin-top: 15px;
	margin-bottom: 30px;
}



.contact-me p {
	padding-top: 20px;
	margin-top: 10px; 
	font-size: 35px;
	text-align: center;
}


.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* set the fixed height of the footer here */
	padding: 0;
	height: 250px;

	background-color: #FFB8D6;

}

.footer img {
	height: 150px;
	width: auto;
	padding: 30px 10px 10px 10px;
}

@media only screen and (max-width: 768px) {
  body {margin-bottom: 400px; } 
  .footer { height:400px;}
} 


textarea {
	margin-top: 20px;
}

.span {
	text-align: center;
	font-size: 30px;
}


/*.navigation-github img {
	height: 50px;
	width: auto;
	padding: 35px 20px 0 20px;

}

 .navigation-linkedin img {
	padding: 35px 20px 0 20px;
} 

.navigation-resume img {
	height: 50px;
	width: auto;
	padding: 35px 20px 0 20px;
} 

.navigation-contact img {
	height: 50px;
	width: auto;
	padding: 35px 20px 0 20px;
}

.header-contact p {
	text-align: center;
	height: 150px;
	background-color: #FFB8D6;
	padding-bottom: 30px;

}

.header-contact img {
	
	height: 175px;
	width: auto;
	padding-top: 15px;
	padding-bottom: 45px;

	
}



.home-castle-button p {
	margin-top: 0px;
	text-align: center;
	padding-top: 0px;
}

*/





